$primary-dark:#283645;
$primary-ligth:#f2f2f2;
$accent:#d22856;
$grey-lighten:#485461;
$grey-darker:#e5e5e5;
$black:#000000;
$white:#ffffff;
$green:#2aab6d;
$green-darker:#1c9b5e;
$toggle:#b5b9be;

$tablet-width:660px;
$desktop-width:960px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
