.button {
  font-size: 18px;
  font-weight: 700;

  &:disabled {
    cursor: not-allowed;
  }

  &--download {
    display: block;
    width: 280px;
    color: $white;
    padding: 12px 35px;
    border: 3px solid $white;
    border-radius: 40px;
    margin: 0 auto;
    transition: all 0.4s ease;

    &:hover {
      background-color: $white;
      color: $accent;
    }

    &:active {
      color: rgba($accent, 0.3);
    }

    @media (min-width: $tablet-width) {
      width: 300px;
      padding: 12px 45px;
    }

    @media (min-width: $desktop-width) {
      font-size: 21px;
      padding: 12px 28px;
    }
  }

  &--submit {
    text-transform: uppercase;
    width: 100%;
    padding: 20px;
    border: 1px solid $green;
    border-radius: 2px;
    background-color: $green;
    color: $white;

    &:hover {
      background-color: $green-darker;
    }

    &:active {
      color: rgba($white, 0.3);
    }

    &:disabled {
      background-color: $grey-darker;
      border-color: $grey-darker;
    }

    @media (min-width: $tablet-width) {
      width: 296px;
    }

    @media (min-width: $desktop-width) {
      width: 300px;
    }
  }

  &--post {
    margin: 0 auto;
    margin-bottom: 12px;
    width: 280px;
    color: $accent;
    padding: 14px 30px;
    border: 3px solid $accent;
    border-radius: 40px;
    transition: all 0.4s ease;
    background-color: $primary-ligth;

    &:hover {
      background-color: $accent;
      color: $white;
    }

    &:active {
      color: rgba($white, 0.3);
    }

    @media (min-width: $tablet-width) {
      width: 260px;
      margin-bottom: 23px;
      padding: 15px 30px;
    }

    @media (min-width: $desktop-width) {
      width: 180px;
      margin-right: 44px;
    }
  }

  &--cancel {
    border: 3px solid rgba($primary-dark, 0.1);
    color: rgba($primary-dark, 0.1);

    &:hover {
      color: rgba($primary-dark, 0.3);
      background-color: rgba($white, 0);
    }

    &:active {
      background-color: rgba($primary-dark, 0.3);
    }
  }

  &--popup {
    @media (min-width: $tablet-width) {
      width: 296px;
    }
  }
}
