.site-nav {
  position: relative;
  width: auto;
  color: $white;
  background-color: $primary-dark;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 32px;
}

.site-nav__toggle {
  border: none;
  width: 62px;
  height: 62px;
  position: absolute;
  right: 0;
  top: 1px;
  transform: translateY(-110%);
  background: url("../../img/icon-menu-burger.svg") no-repeat center center;
  transition: all ease 0.5s;

  @media (min-width: $tablet-width) {
    transform: translateY(-138%);
  }

  &--open {
    background: url("../../img/icon-menu-cross.svg") no-repeat center center;
  }
}

.site-nav__wrapper {
  background-color: $primary-dark;

  &--nojs {
    display: block;
  }

  &--close {
    display: none;
  }
}

.site-nav__list {
  text-align: center;
  list-style: none;
}

.site-nav__item {
  color: $white;
  width: 100%;
  border-top: 1px solid $grey-lighten;
  border-bottom: 1px solid $black;
  font-weight: 700;

  &--last {
    border-bottom: none;
  }
}

.site-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: $desktop-width) {
  .site-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    background-color: transparent;
    color: $white;
  }

  .site-nav__wrapper {
    display: block;
    width: 100%;
    position: relative;
    background-color: rgba($primary-dark, 0);
    opacity: 1;
    visibility: visible;
  }

  .site-nav__list {
    display: flex;
    margin-left: 87px;
  }

  .site-nav__item {
    border: none;
    color: $white;
    width: 100%;
    font-weight: 300;
    text-transform: none;
  }

  .site-nav__link {
    padding: 8px;
    display: inline-block;

    &:hover {
      color: $accent;
    }

    &:active {
      color: rgba($primary-ligth, 0.5);
    }

    &--active {
      border-bottom: 2px solid $white;
    }
  }

  .site-nav__toggle {
    display: none;
  }
}
