
.site-form__preview {
  padding-top: 46px;
  text-align: center;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    width: 530px;
    font-size: 18px;
    line-height: 30px;
    padding-top: 93px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
    width: 830px;
  }
}

.site-form__form {
  font-size: 18px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.site-form__preview-hidden {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline-block;
  }
}

.site-form__field {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: none;
  padding: 0;
  position: relative;

  &--info {
    padding-left: 0;
    padding-right: 0;

    @media (min-width: $desktop-width) {
      padding-left: 0;
      margin: 0 auto;
    }
  }

  &--border {
    border: none;

    @media (min-width: $tablet-width) {
      border: 2px solid $grey-darker;
      padding: 45px 58px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 45px;
      padding-bottom: 25px;
      padding-left: 0;
      padding-right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }

  &--textarea {
    padding-top: 27px;

    @media (min-width: $tablet-width) {
      padding-top: 43px;
    }

    @media (min-width: $desktop-width) {
      padding: 45px 58px;
      padding-top: 43px;
    }
  }

  &--os {
    @media (min-width: $tablet-width) {
      padding-bottom: 21px;
      padding-top: 50px;
    }
  }

  &--contacts {
    @media (min-width: $tablet-width) {
      padding-top: 45px;
      padding-bottom: 0;
    }
  }

  &--achievements {
    @media (min-width: $tablet-width) {
      padding-top: 42px;
      padding-bottom: 16px;
    }

    @media (min-width: $tablet-width) {
      padding-top: 46px;
      padding-bottom: 27px;
    }
  }
}

.site-form__list {
  padding-top: 30px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    padding-left: 55px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.site-form__item {
  padding-top: 14px;
  padding-bottom: 38px;
  position: relative;

  @media (min-width: $desktop-width) {
    width: 275px;

    &--odd {
      order: -1;
    }
  }

  &--os {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 23px;

    @media (min-width: $tablet-width) {
      padding-top: 3px;
      padding-bottom: 8px;
      margin-bottom: 33px;
    }
  }
}

.site-form__label {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
  }

  &--last {
    margin-bottom: 0;
  }

  &--contacts {
    position: relative;
    display: block;

    &::after {
      content: "";
      position: absolute;
      top: 54px;
      right: 1px;
      width: 62px;
      height: 62px;
      background-color: $grey-darker;
      z-index: 1;

      @media (min-width: $tablet-width) {
        top: 0;
      }
    }

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 0;
      padding-bottom: 28px;
    }

    @media (min-width: $desktop-width) {
      width: 50%;
      padding-bottom: 10px;
    }
  }
}

.site-form__label-mail::after,
.site-form__label-phone::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.site-form__label-mail::after {
  background-image: url("../../img/icon-mail.svg");
}

.site-form__label-phone::after {
  background-image: url("../../img/icon-phone.svg");
}

.site-form__label--first {
  @media (min-width: $desktop-width) {
    margin-right: 70px;
  }
}

.site-form__label-name {
  display: block;
  margin-bottom: 5px;
  padding-left: 22px;
  padding-top: 18px;
  color: $accent;
  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-right: 19px;
  }

  &--contact {
    @media (min-width: $tablet-width) {
      order: 2;
      padding-left: 20px;
      padding-top: 10px;
    }
  }
}

.site-form__label-contacts {
  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}

.site-form__row {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding-left: 58px;
    padding-right: 58px;
  }
}

.site-form__input {
  position: relative;
  width: 100%;
  padding: 18px;
  padding-right: 70px;
  border: 2px solid $grey-darker;
  border-radius: 2px;
  line-height: 24px;
}

.site-form__input-phone {
  @media (min-width: $tablet-width) {
    &::before {
      content: "";
      position: absolute;
      right: 0;
      width: 60px;
      height: 60px;

      background-color: $grey-darker;
    }
  }
}

.site-form__input::placeholder {
  color: $primary-dark;
}

.site-form__legend {
  width: 220px;
  color: $accent;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  left: 50%;
  top: 0;
  background-color: $white;
  transform: translate(-50%, -50%);

  &--achievements {
    @media (min-width: $tablet-width) {
      width: 440px;
    }
  }

  &--contacts {
    display: none;
    width: 255px;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--os {
    @media (min-width: $tablet-width) {
      width: 365px;
    }
  }

  &--review {
    margin-bottom: 12px;

    @media (min-width: $tablet-width) {
      width: 255px;
    }
  }
}

.site-form__item-label {
  position: relative;
  padding-left: 70px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 60px;
  }

  &--os {
    @media (min-width: $desktop-width) {
      padding-left: 79px;
    }
  }
}

.site-form__checkbox {
  position: absolute;
  left: 0;
  top: 10px;
  width: 39px;
  height: 39px;
  border: 2px solid $grey-darker;
  border-radius: 2px;
  background-color: $white;
  cursor: pointer;
}

.site-form__item:hover .site-form__checkbox,
.site-form__item:hover .site-form__radio {
  border-color: $primary-dark;
}

input[type="checkbox"]:focus ~ .site-form__checkbox,
input[type="radio"]:focus ~ .site-form__radio {
  border-color: $primary-dark;
}

.site-form__item:active .site-form__checkbox,
.site-form__item:active .site-radio {
  border-color: $accent;
}

input[type="checkbox"]:checked + .site-form__checkbox {
  background-image: url("../../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 50% 50%;
}

input[type="radio"]:checked + .site-form__radio::before {
  background-color: $accent;
}

.site-form__radio {
  position: absolute;
  left: 0;
  top: 5px;
  width: 39px;
  height: 39px;
  border: 2px solid $grey-darker;
  border-radius: 50%;
  background-color: $white;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 0;
  }

  @media (min-width: $desktop-width) {
    left: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;

    width: 15px;
    height: 15px;
    background-color: $white;
    border-radius: 50%;
  }
}

.site-form__textarea {
  width: 100%;
  min-height: 200px;
  border: 2px solid $grey-darker;
  border-radius: 2px;
  padding: 20px;
  line-height: 25px;

  @media (min-width: $desktop-width) {
    min-height: 126px;
  }
}

.site-form__important {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 300;
  margin-top: 35px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 50%;
    text-align: right;
    margin-top: 19px;
    margin-bottom: 15px;
  }
}

.site-form__important-star {
  color: $accent;
  font-size: 14px;
  font-weight: 700;
}

.site-form__important-none {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
    font-size: inherit;
    font-weight: inherit;
    color: $primary-dark;
  }
}

.site-form__info {
  padding: 11px 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    order: 1;
    padding-bottom: 0;
    padding-top: 68px;
  }


  @media (min-width: $desktop-width) {
    width: 50%;
    order: 1;
    padding-right: 35px;
    padding-left: 0;
    padding-top: 73px;
  }
}

.site-form__achievements {
  padding: 35px 20px;
  padding-bottom: 9px;
  padding-top: 74px;

  @media (min-width: $tablet-width) {
    order: 4;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
    margin-top: 60px;
  }

  &--grey {
    background-color: $primary-ligth;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
  }
}

.site-form__contacts {
  padding: 40px 20px;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    order: 3;
    padding-top: 55px;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
    order: 3;
    margin-top: 56px;
  }
}

.site-form__os {
  padding: 74px 20px;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 70px;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-left: 35px;
    padding-right: 0;
  }

  &--grey {
    background-color: $primary-ligth;

    @media (min-width: $tablet-width) {
      background-color: $white;
    }
  }
}

.site-form__review {
  padding: 50px 20px;
  padding-bottom: 48px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 66px;
    padding-top: 55px;
    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 940px;
    padding: 0;
    margin-top: 60px;
  }
}

.site-form__button {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    order: 6;
    padding-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    width: 940px;
    margin-top: 64px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.popup {
  display: none;
  text-align: center;
  padding-top: 40px;
  margin: 0 auto;
  box-shadow: 0 18px 8px -4px rgba(0, 0, 0, 0.1);

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }

  h3 {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    margin: 0;
  }
}

.popup-text {
  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 50px;
    font-size: 18px;
  }

  &--successfully {
    @media (min-width: $desktop-width) {
      margin: 0;
      padding-top: 20px;
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 50px;
    }
  }
}

.popup__footer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;

  &--successfully {
    background-color: $primary-ligth;
  }

  &--fail {
    @media (min-width: $desktop-width) {
      background-color: $primary-ligth;
    }
  }
}
